Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n

refactor: pat code
  api/status/pat-info.js
Labels: none

TRADUÇÃO PARA ESPANHOL E INGLÊS
  readme.md
Labels: none

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

Update readme.md
  readme.md
Labels: none

Translated everything until line 315
  docs/readme_bg.md
Labels: doc-translation

Update
  themes/README.md
Labels: none

Example
  themes/README.md
Labels: none

UPDATE
  themes/README.md
Labels: none

Add onlyBlack theme
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

Add orange_github_dark theme
  themes/index.js
Labels: themes

Add HEX color
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

Update vercel.json
  vercel.json
Labels: none

Update translations.js
  src/translations.js
Labels: card-i18n

Update stats-card.js
  src/cards/stats-card.js
Labels: none

added black&white theme
  themes/index.js
Labels: themes

translated the rest of the card
  docs/readme_bg.md
Labels: doc-translation

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

Edited links
  docs/readme_bg.md
Labels: doc-translation

Fixed the MD cards visible link problem
  docs/readme_bg.md
Labels: doc-translation

fixed the space in the links
  docs/readme_bg.md
Labels: doc-translation

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

Update readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

added Bulgarian
  readme.md
Labels: none

Update readme_cn.md
  docs/readme_cn.md
Labels: doc-translation

Update readme_de.md
  docs/readme_de.md
Labels: doc-translation

Update readme_es.md
  docs/readme_es.md
Labels: doc-translation

Update readme_fr.md
  docs/readme_fr.md
Labels: doc-translation

Update readme_it.md
  docs/readme_it.md
Labels: doc-translation

Update readme_ja.md
  docs/readme_ja.md
Labels: doc-translation

Update readme_kr.md
  docs/readme_kr.md
Labels: doc-translation

Update readme_nl.md
  docs/readme_nl.md
Labels: doc-translation

Update readme_np.md
  docs/readme_np.md
Labels: doc-translation

Update readme_pt-BR.md
  docs/readme_pt-BR.md
Labels: doc-translation

Update readme_tr.md
  docs/readme_tr.md
Labels: doc-translation

Update vercel.json
  vercel.json
Labels: none

add two additional themes
  themes/README.md
  themes/index.js
  vercel.json
Labels: themes

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n: src/translations.js
