Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n

refactor: use default value for languages
  src/cards/wakatime-card.js
Labels: none

fix: truncated compact progress bar
  src/cards/wakatime-card.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
Labels: none

test: add test for truncated compact progress bar with langs_count set
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderWakatimeCard.test.js
Labels: none

Document auto theme change updates
  readme.md
Labels: none

My Readme Stats
  docs/readme_ys.md
Labels: doc-translation

calculate animation delay based on list length
  src/cards/wakatime-card.js
Labels: none

feat: decrease monitoring functions rate limits
  api/status/pat-info.js
  api/status/up.js
Labels: none

Fix GitHub capitalization
  docs/readme_kr.md
  docs/readme_np.md
  docs/readme_tr.md
  readme.md
  scripts/helpers.js
  scripts/preview-theme.js
  scripts/push-theme-readme.sh
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: doc-translation, card-i18n

refactor: fix GitHub capitalization (#2232)
  docs/readme_kr.md
  docs/readme_np.md
  docs/readme_tr.md
  readme.md
  scripts/helpers.js
  scripts/preview-theme.js
  scripts/push-theme-readme.sh
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: doc-translation, card-i18n

docs: improve dynamic theme documentation
  readme.md
Labels: none

docs: document auto theme change #2074 (#2229)
  readme.md
Labels: none

Update readme.md
  readme.md
Labels: none

Fix truncation of compact wakatime progress bar when langs_count is set (#2228)
  src/cards/wakatime-card.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderWakatimeCard.test.js
Labels: none

Update index.js
  themes/index.js
Labels: themes

Polish version of README
  docs/readme_pl.md
  readme.md
Labels: doc-translation

Poish translation of README
  docs/readme_pl.md
  readme.md
Labels: doc-translation

Corrections of Polish expressions in translations.js
  src/translations.js
Labels: card-i18n

Corrections of Polish expressions in translations.js (#2240)
  src/translations.js
Labels: card-i18n

Adding Dark_1
  themes/index.js
Labels: themes

Reorganize language card section
  readme.md
Labels: none

Reorganize wakatime
  readme.md
Labels: none

Reorganize stats card
  readme.md
Labels: none

Update table of contents
  readme.md
Labels: none

Add common options subsections
  readme.md
Labels: none

added github dark theme with transparent mode
  themes/index.js
Labels: themes

# removed from new theme
  themes/index.js
Labels: themes

Fixed colors to match the contrast ratio
  themes/index.js
Labels: themes

Updates the brazilian readme
  docs/readme_pt-BR.md
Labels: doc-translation

hg_dark theme added
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

add "theme.mustardOliver"
  themes/index.js
Labels: themes

add "theme.mustard_Olive"
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

Added warning-style color scheme.
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Added Date Night theme to index.js
  themes/index.js
Labels: themes

My theme name should be in snake_case now
  themes/index.js
Labels: themes

ci: update theme stale close message
  scripts/close-stale-theme-prs.js
Labels: none

ci: update theme stale close message
  scripts/close-stale-theme-prs.js
Labels: none

feat: add CACHE_SECONDS environment variable
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  readme.md
Labels: none

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n: src/translations.js
