Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*

Day 1 of translate in FR
  docs/readme_fr.md
Labels: doc-translation

DAY 1 #2
  docs/readme_fr.md
Labels: doc-translation

readme : add French Translation redirection
  readme.md
Labels: none

readme : add French Translations
  docs/readme_fr.md
Labels: doc-translation

readme : add French Translations
  docs/readme_fr.md
Labels: doc-translation

readme: add French Translations
  docs/readme_fr.md
Labels: doc-translation

Add theme chill-ebony
  themes/index.js
Labels: themes

Add chill-ebony theme
  themes/index.js
Labels: themes

Add chill-ebony theme updated
  themes/index.js
Labels: themes

Add blackred theme
  themes/index.js
Labels: themes

readme: updated German translation
  docs/readme_de.md
Labels: doc-translation

docs(translation): updated German translation (#382)
  docs/readme_de.md
Labels: doc-translation

fix: tests
  api/index.js
  api/pin.js
  api/top-langs.js
  readme.md
  src/common/utils.js
  tests/api.test.js
Labels: none

fix: increase cache
  api/index.js
  api/pin.js
  api/top-langs.js
  readme.md
  src/common/utils.js
  tests/api.test.js
Labels: none

fix: catched all errors
  api/index.js
  api/pin.js
  api/top-langs.js
Labels: none

fix: catched all errors (#384)
  api/index.js
  api/pin.js
  api/top-langs.js
Labels: none

switch up colors in blackred
  themes/index.js
Labels: themes

Edit colors once again
  themes/index.js
Labels: themes

Corrected Spellings
  readme.md
Labels: none

docs: corrected spellings (#385)
  readme.md
Labels: none

Added jedi Theme
  themes/index.js
Labels: themes
