Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, lang-card, repo-card, stats-card, wakatime-card, gist-card, ranks, ci, infrastructure

.github/labeler.yml:

themes:
  - changed-files:
      - any-glob-to-any-file:
          - themes/index.js

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - src/translations.js
          - src/common/I18n.js

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - readme.md
          - CONTRIBUTING.md
          - CODE_OF_CONDUCT.md
          - SECURITY.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json

lang-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/top-langs.js
          - src/cards/top-languages-card.js
          - src/fetchers/top-languages-fetcher.js
          - tests/fetchTopLanguages.test.js
          - tests/renderTopLanguagesCard.test.js
          - tests/top-langs.test.js

repo-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/pin.js
          - src/cards/repo-card.js
          - src/fetchers/repo-fetcher.js
          - tests/fetchRepo.test.js
          - tests/renderRepoCard.test.js
          - tests/pin.test.js

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/index.js
          - src/cards/stats-card.js
          - src/fetchers/stats-fetcher.js
          - tests/fetchStats.test.js
          - tests/renderStatsCard.test.js
          - tests/api.test.js

wakatime-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/wakatime.js
          - src/cards/wakatime-card.js
          - src/fetchers/wakatime-fetcher.js
          - tests/fetchWakatime.test.js
          - tests/renderWakatimeCard.test.js
          - tests/wakatime.test.js

gist-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/gist.js
          - src/cards/gist-card.js
          - src/fetchers/gist-fetcher.js
          - tests/fetchGist.test.js
          - tests/renderGistCard.test.js
          - tests/gist.test.js

ranks:
  - changed-files:
      - any-glob-to-any-file:
          - src/calculateRank.js

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - scripts/*

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - .eslintrc.json

Update index.js
  themes/index.js
Labels: themes

refactor: remove check for private user repository
  src/fetchers/repo-fetcher.js
Labels: repo-card

images: add current ranking images
  themes/images/bear.png
  themes/images/cobalt.png
  themes/images/gruvbox.png
  themes/images/merko.png
  themes/images/onedark.png
  themes/images/radical.png
  themes/images/synthwave.png
  themes/images/tokyonight.png
Labels: none

fix: add env instructions
  CONTRIBUTING.md
Labels: documentation

env instructions
  themes/images/bear.png
  themes/images/cobalt.png
  themes/images/gruvbox.png
  themes/images/merko.png
  themes/images/onedark.png
  themes/images/radical.png
  themes/images/synthwave.png
  themes/images/tokyonight.png
Labels: none

fix
  .github/CODEOWNERS
  .github/dependabot.yaml
  .github/workflows/fork-sync.yaml
  .nvmrc
  package-lock.json
  vercel.json
Labels: dependencies, ci

get custom icon parameter
  api/index.js
  icons/index.js
  src/cards/types.d.ts
  src/common/icons.js
Labels: stats-card

fix: formatting
  api/index.js
  src/common/icons.js
Labels: stats-card

update icon dimensions
  icons/index.js
Labels: none

fix: paramter bug
  api/index.js
  src/cards/stats-card.js
  src/common/icons.js
Labels: stats-card

add new icons
  api/index.js
  icons/index.js
  src/cards/stats-card.js
  src/common/icons.js
Labels: stats-card

chore(docs): add documentation for rank icons
  readme.md
Labels: documentation

add icons
  icons/index.js
Labels: none

getting the parameter
  api/index.js
  src/cards/stats-card.js
  src/cards/types.d.ts
Labels: stats-card

update parameter to rank_progress
  api/index.js
  src/cards/stats-card.js
  src/cards/types.d.ts
Labels: stats-card

chore: get input params
  api/index.js
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
Labels: stats-card

Change `Fundidos` to `Integrados`
  src/translations.js
Labels: card-i18n

fix: typo in `themes/README.md`
  themes/README.md
Labels: none

Update vercel.json
  vercel.json
Labels: none

migrate on latest eslint config
  .eslintrc.json
  api/status/up.js
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/helpers.js
  scripts/preview-theme.js
Labels: dependencies, ci, infrastructure

Update translations.js
  src/translations.js
Labels: card-i18n

Update index.js
  themes/index.js
Labels: themes

Replaced the unused variable with destructuring for the linter error
  api/status/up.js
Labels: none

Ran "npm audit fix" to fix vulnerabilities
  package-lock.json
Labels: dependencies

dev
  package-lock.json
Labels: dependencies

refactor: update languages JSON
  src/common/languageColors.json
Labels: none

Update translations.js
  src/translations.js
Labels: card-i18n

Update index.js
  themes/index.js
Labels: themes

Adding Translate Persian (fa) and Update Readme.md
  readme.md
  src/translations.js
Labels: card-i18n, documentation

Update readme_cn.md
  docs/readme_cn.md
Labels: doc-translation

include organization stats
  api/index.js
  api/top-langs.js
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: lang-card, stats-card

whitelist for username based endpoints
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/utils.js
  src/common/whitelist.js
Labels: lang-card, repo-card, stats-card, wakatime-card

added gist whitelist
  api/gist.js
  src/common/whitelist.js
Labels: gist-card

Added Support To SQL
  .gitattributes
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update index.js
  api/index.js
Labels: stats-card

Update top-langs.js
  api/top-langs.js
Labels: lang-card

Update utils.js
  src/common/utils.js
Labels: none

Update stats-fetcher.js
  src/fetchers/stats-fetcher.js
Labels: stats-card

Update top-languages-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: lang-card
