Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, lang-card, repo-card, stats-card, wakatime-card, gist-card, ranks, ci, infrastructure

readme.md
  readme.md
Labels: documentation

Added Hebrew
  src/translations.js
Labels: card-i18n

Update translations.js for Urdu language
  src/translations.js
Labels: card-i18n

Update index.js
  themes/index.js
Labels: themes

Update repo-card.js
  src/cards/repo-card.js
Labels: repo-card

Update gist-card.js
  src/cards/gist-card.js
Labels: gist-card

fixes #3956 bug - update repo-card.js
  src/cards/repo-card.js
Labels: repo-card

Update repo-card.js
  src/cards/repo-card.js
Labels: repo-card

Update stats-card.js
  src/cards/stats-card.js
Labels: stats-card

Add card_height feature to repo card #3369
  src/cards/repo-card.js
  src/cards/types.d.ts
Labels: repo-card

chore: added auth token
  api/index.js
Labels: stats-card

chore: fix tests
  api/index.js
  tests/api.test.js
Labels: stats-card

feat: add Romanian translation
  readme.md
  src/translations.js
Labels: card-i18n, documentation

feat: add option to change progress bar background color for top lang card in normal layout (#3307)
  api/top-langs.js
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
Labels: documentation, lang-card

Update README.md
  themes/README.md
Labels: none

Update readme.md
  readme.md
Labels: documentation

Update readme.md
  readme.md
Labels: documentation

Update readme.md
  readme.md
Labels: documentation

Update readme.md
  readme.md
Labels: documentation

Update translations.js
  src/translations.js
Labels: card-i18n

Update README.md
  themes/README.md
Labels: none

feat: cost optimize, increase cache
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/utils.js
Labels: lang-card, repo-card, stats-card, wakatime-card, gist-card

chore: update
  api/top-langs.js
  tests/api.test.js
  tests/gist.test.js
  tests/pin.test.js
  tests/top-langs.test.js
Labels: lang-card, repo-card, stats-card, gist-card

chore: format
  api/index.js
Labels: stats-card

Update translations.js
  src/translations.js
Labels: card-i18n

Sorted languages alphabetically in translations.js
  src/translations.js
Labels: card-i18n

Update index.js
  themes/index.js
Labels: themes

feat: cost optimize, increase cache
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/utils.js
Labels: lang-card, repo-card, stats-card, wakatime-card, gist-card

chore: update
  api/top-langs.js
  tests/api.test.js
  tests/gist.test.js
  tests/pin.test.js
  tests/top-langs.test.js
Labels: lang-card, repo-card, stats-card, gist-card

chore: format
  api/index.js
Labels: stats-card

Apply automatic changes
  vercel.json
Labels: none

Add back to top button in readme
  readme.md
Labels: documentation

Try
  readme.md
Labels: documentation

Added Go to Top Button
  readme.md
Labels: documentation

fix: Changed stats to statistics
  docs/readme_np.md
Labels: doc-translation

added Go to top feature to Readme.md
  readme.md
Labels: documentation

Feature Request: Add custom languages
  api/top-langs.js
  readme.md
Labels: documentation, lang-card

Added Hindi
  src/translations.js
Labels: card-i18n

fix: Fix zh-tw translation
  src/translations.js
Labels: card-i18n

Update wakatime.js
  api/wakatime.js
Labels: wakatime-card

.github/labeler.yml:

themes:
  - changed-files:
      - any-glob-to-any-file:
          - themes/index.js

doc-translation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*

card-i18n:
  - changed-files:
      - any-glob-to-any-file:
          - src/translations.js
          - src/common/I18n.js

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - readme.md
          - CONTRIBUTING.md
          - CODE_OF_CONDUCT.md
          - SECURITY.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json

lang-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/top-langs.js
          - src/cards/top-languages-card.js
          - src/fetchers/top-languages-fetcher.js
          - tests/fetchTopLanguages.test.js
          - tests/renderTopLanguagesCard.test.js
          - tests/top-langs.test.js

repo-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/pin.js
          - src/cards/repo-card.js
          - src/fetchers/repo-fetcher.js
          - tests/fetchRepo.test.js
          - tests/renderRepoCard.test.js
          - tests/pin.test.js

stats-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/index.js
          - src/cards/stats-card.js
          - src/fetchers/stats-fetcher.js
          - tests/fetchStats.test.js
          - tests/renderStatsCard.test.js
          - tests/api.test.js

wakatime-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/wakatime.js
          - src/cards/wakatime-card.js
          - src/fetchers/wakatime-fetcher.js
          - tests/fetchWakatime.test.js
          - tests/renderWakatimeCard.test.js
          - tests/wakatime.test.js

gist-card:
  - changed-files:
      - any-glob-to-any-file:
          - api/gist.js
          - src/cards/gist-card.js
          - src/fetchers/gist-fetcher.js
          - tests/fetchGist.test.js
          - tests/renderGistCard.test.js
          - tests/gist.test.js

ranks:
  - changed-files:
      - any-glob-to-any-file:
          - src/calculateRank.js

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - scripts/*

infrastructure:
  - changed-files:
      - any-glob-to-any-file:
          - .eslintrc.json
