Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n: src/translations.js

refactor: apply formatter
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
Labels: none

fix: fix rank test
  tests/calculateRank.test.js
Labels: none

refactor: update code formatting
  src/calculateRank.js
Labels: none

refactor: update code formatting
  src/calculateRank.js
  tests/e2e/e2e.test.js
Labels: none

Missing term in calculation of TOTAL_VALUES. (#2116)
  src/calculateRank.js
  tests/calculateRank.test.js
  tests/e2e/e2e.test.js
Labels: none

Revert "Missing term in calculation of TOTAL_VALUES. (#2116)"
  src/calculateRank.js
  tests/calculateRank.test.js
  tests/e2e/e2e.test.js
Labels: none

Updates the brazilian readme (#2245)
  docs/readme_pt-BR.md
Labels: doc-translation

feat: allow users to pass ring_color param (#2075)
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/common/utils.js
  src/getStyles.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/api.test.js
  tests/renderStatsCard.test.js
  tests/utils.test.js
Labels: none

feat: added Date Night theme to index.js (#2264)
  themes/index.js
Labels: themes

test: update snapshots
  tests/__snapshots__/renderWakatimeCard.test.js.snap
Labels: none

ci: fix theme readme generation action
  scripts/push-theme-readme.sh
Labels: none

add translate to Chinese and Japanese
  docs/readme_cn.md
  docs/readme_ja.md
Labels: doc-translation

refactor: migrate to using arrow functions
  src/calculateRank.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: card-i18n

refactor: migrate to using arrow functions (#2033)
  src/calculateRank.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: card-i18n

fix: improve boolean parse behaviour (#2029)
  src/common/utils.js
  tests/utils.test.js
Labels: none

refactor: remove unused dotenv calls
  api/index.js
  api/top-langs.js
  api/wakatime.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

refactor: remove unused dotenv calls (#2059)
  api/index.js
  api/top-langs.js
  api/wakatime.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

fix: fix retry max-out bug
  src/common/retryer.js
Labels: none

test: fix retry tests
  src/common/retryer.js
Labels: none

style: format code
  src/common/retryer.js
Labels: none

style: format code
  src/common/retryer.js
Labels: none

fix: fix retry max-out bug (#2121)
  src/common/retryer.js
Labels: none

feat: improve card loading speed (#2124)
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  tests/api.test.js
Labels: none

feat: add INCLUDE_ORGS env variable
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

feat: add INCLUDE_ORGS env variable (#2275)
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

Revert "feat: add INCLUDE_ORGS env variable (#2275)"
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

Revert "feat: add INCLUDE_ORGS env variable (#2275)" (#2276)
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
Labels: none

docs: clean up changes
  readme.md
Labels: none

Update index.js
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

fix: fix repoContrib confusion (#2269)
  src/cards/stats-card.js
  tests/renderStatsCard.test.js
Labels: none

fix: fix repoContrib confusion (#2269) (#2274)
  src/cards/stats-card.js
  tests/renderStatsCard.test.js
Labels: none

feat: fix 'include_all_commits' inner card margin
  src/cards/stats-card.js
Labels: none

feat: fix 'include_all_commits' inner card margin (#2283)
  src/cards/stats-card.js
Labels: none

feat: add `include_orgs` card variable
  api/index.js
  api/top-langs.js
  readme.md
  src/common/utils.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  tests/fetchStats.test.js
  tests/fetchTopLanguages.test.js
Labels: none

docs: clean up code and update TOC
  readme.md
Labels: none

Create readme_bg.md
  docs/readme_bg.md
Labels: doc-translation

translated from the beginning to GitHub Stats Card
  docs/readme_bg.md
Labels: doc-translation

Translated card with statistic part 1
  docs/readme_bg.md
Labels: doc-translation
