Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, lang-card, repo-card, stats-card, wakatime-card, ranks, ci

Add dbaeumer.vscode-eslint extension into workspace recommended (#2939)
  .vscode/extensions.json
Labels: none

Refactor: Fix several eslint errors and warnings (#2930)
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
Labels: lang-card, wakatime-card

Refactor: Fixed docstring for flexLayout function (#2949)
  src/common/utils.js
Labels: none

Ranks: Take into account user reviewed PRs count (#2857)
  readme.md
  src/calculateRank.js
  src/fetchers/stats-fetcher.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/e2e/e2e.test.js
  tests/fetchStats.test.js
Labels: documentation, stats-card, ranks

CI: dependencies pinned by hashes (#2915)
  .github/workflows/deploy-prep.yml
  .github/workflows/e2e-test.yml
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/label-pr.yml
  .github/workflows/preview-theme.yml
  .github/workflows/prs-cache-clean.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/test.yml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

Refactor: Fixed fallbackColor function docstring (#2954)
  src/common/utils.js
Labels: none

Uppercase total reviews title to match all another titles style (#2955)
  src/translations.js
Labels: card-i18n

Enable dependabot (#2963)
  .github/dependabot.yml
Labels: none

Refactor: Fixed vscode type error in renderTopLanguages function (#2964)
  src/cards/top-languages-card.js
Labels: lang-card

docs: fix broken admonitions (#2957)
  .vscode/settings.json
  CONTRIBUTING.md
  readme.md
  scripts/preview-theme.js
Labels: documentation, ci

Silence vscode type error in chunkArray function (#2965)
  src/common/utils.js
Labels: none

Refactor: Resolve vscode type error in renderStatsCard function long locales check (#2985)
  src/cards/stats-card.js
Labels: stats-card

Refactor: Resolve vscode type error in renderStatsCard function card width calc (#2984)
  src/cards/stats-card.js
Labels: stats-card

Docs: Use important admonition in "Important notice" section (#2987)
  readme.md
Labels: documentation

CI: Add helpful cron schedule comment (#2991)
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

CI: skx/github-action-tester dependency pinned by hash (#3014)
  .github/workflows/generate-theme-doc.yml
Labels: ci

Refactor: Fix MissingParamError class constructor docstring (#3012)
  src/common/utils.js
Labels: none

Refactor: Top langs card: Fix return statement in helpers functions docstrings (#2996)
  src/cards/top-languages-card.js
Labels: lang-card

Refactor: Top langs card: Set correct type for hideProgress variable in all functions docstrings (#2995)
  src/cards/top-languages-card.js
Labels: lang-card

Refactor: Improve docstring for dateDiff utils function (#3001)
  src/common/utils.js
Labels: none

Refactor: Wakatime card: Add missing return statements for helper functions (#2998)
  src/cards/wakatime-card.js
Labels: wakatime-card

Refactor: Repo card: Fixed type error in iconWithLabel function (#2999)
  src/cards/repo-card.js
Labels: repo-card

Refactor: Improve docstring for lowercaseTrim utils function (#3002)
  src/common/utils.js
Labels: none

Stats card: Add Uzbek to long languages (#3019)
  src/cards/stats-card.js
Labels: stats-card

I10n: Add partially-missing Uzbek translations (#3018)
  src/translations.js
Labels: card-i18n

Docs: Add security policy (#2908)
  SECURITY.md
Labels: none

Refactor: Fix docstring for getCardColors utils function (#3011)
  src/common/utils.js
Labels: none

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n:
  - src/translations.js
  - src/common/I18n.js
documentation:
  - readme.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
dependencies:
  - package.json
  - package-lock.json
lang-card:
  - api/top-langs.js
  - src/cards/top-languages-card.js
  - src/fetchers/top-languages-fetcher.js
repo-card:
  - api/pin.js
  - src/cards/repo-card.js
  - src/fetchers/repo-fetcher.js
stats-card:
  - api/index.js
  - src/cards/stats-card.js
  - src/fetchers/stats-fetcher.js
wakatime-card:
  - api/wakatime.js
  - src/cards/wakatime-card.js
  - src/fetchers/wakatime-fetcher.js
ranks: src/calculateRank.js
ci:
  - .github/workflows/*
  - scripts/*
