Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n

fix: fix commit stats time frame description #1053
  src/cards/stats-card.js
  tests/renderStatsCard.test.js
Labels: none

ci: fix stale closer action review sort bug
  scripts/close-stale-theme-prs.js
  scripts/helpers.js
  scripts/preview-theme.js
Labels: none

ci: fix stale closer action review sort bug (#2201)
  scripts/close-stale-theme-prs.js
  scripts/helpers.js
  scripts/preview-theme.js
Labels: none

style: format readme
  readme.md
Labels: none

resolve failing tests
  src/cards/top-languages-card.js
Labels: none

refactor: formatting
  src/cards/wakatime-card.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
Labels: none

Added horizon theme.
  themes/index.js
Labels: themes

horizon theme added
  themes/index.js
Labels: themes

bili blue theme
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Increasing function memory for testing
  vercel.json
Labels: none

Increasing memory limit for testing
  vercel.json
Labels: none

ci: increase invalid theme close time
  .github/workflows/stale-theme-pr-closer.yaml
  scripts/close-stale-theme-prs.js
  scripts/preview-theme.js
Labels: none

ci: increase invalid theme close time (#2210)
  .github/workflows/stale-theme-pr-closer.yaml
  scripts/close-stale-theme-prs.js
  scripts/preview-theme.js
Labels: none

ci: decrease pat-info rate limiting time
  api/status/pat-info.js
Labels: none

fix: improve error caching behavoir
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  tests/api.test.js
Labels: none

fix: improve error caching behavoir (#2211)
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  tests/api.test.js
Labels: none

fix: prevent totalCommitsFetch error result from being cached
  api/index.js
  src/fetchers/stats-fetcher.js
  tests/fetchStats.test.js
Labels: none

mend
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  tests/api.test.js
Labels: none

Update index.js
  themes/index.js
Labels: themes

improved translate pt-BR and bugfix in readme.md
  docs/readme_pt-BR.md
  readme.md
Labels: doc-translation

improved translate pt-BR and bugfix in readme.md
  readme.md
Labels: none

Update index.js
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Document auto theme change in README #2074
  readme.md
Labels: none

Document auto theme change in README
  readme.md
Labels: none

Update index.js
  themes/index.js
Labels: themes

Update README.md
  themes/README.md
Labels: none

Update README.md
  themes/README.md
Labels: none

Update index.js
  themes/index.js
Labels: themes

refactor: clean up code and add extra tests
  src/cards/top-languages-card.js
  src/cards/types.d.ts
  tests/renderTopLanguages.test.js
Labels: none

fix: wakatime animation delay
  src/cards/wakatime-card.js
Labels: none

Add new mono and mono_inverted themes
  themes/index.js
Labels: themes

feat: improve pie chart positioning
  src/cards/top-languages-card.js
  tests/renderTopLanguages.test.js
Labels: none

refactor: make issue templates required
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

refactor: make issue templates required (#2226)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n: src/translations.js
