Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n, documentation, dependencies, lang-card, repo-card, stats-card, wakatime-card, ranks, ci

Use stable axios version 1.x.x (#2873)
  package-lock.json
  package.json
Labels: dependencies

add percentile rank icon (#2859)
  .vscode/settings.json
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
  src/getStyles.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderStatsCard.test.js
Labels: documentation, stats-card

Docs: improve GitHub media feature example HTML formatting (#2862)
  readme.md
Labels: documentation

Increase e2e tests timeout secs (#2878)
  tests/e2e/e2e.test.js
Labels: none

Fixed resizing of stats card when all metrics except rank are hidden (#2868)
  src/cards/stats-card.js
  src/translations.js
Labels: card-i18n, stats-card

Docs: improve quick align tip section (#2865)
  readme.md
Labels: documentation

docs: remove progress rank icon example (#2876)
  readme.md
Labels: documentation

refactor: object shorthand (#2882)
  src/calculateRank.js
Labels: ranks

I18n: Fixed docstring for statsCardLocales function and enable ts-check (#2883)
  src/translations.js
Labels: card-i18n

Top langs card: Fixed getLongestLang function docstring to resolve vscode errors (#2881)
  src/cards/top-languages-card.js
Labels: lang-card

Docs (translations): Add OSSF badges (#2884)
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

CI: Fix warnings variable usage inside theme preview workflow (#2886)
  scripts/preview-theme.js
Labels: ci

CI: Add OSSF scorecard analysis workflow (#2879)
  .github/workflows/ossf-analysis.yml
  readme.md
Labels: documentation, ci

Docs (translations): Add missing GitHub contributors badges (#2887)
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

Top langs card tests: Fixed helper functions docstrings (#2893)
  tests/renderTopLanguages.test.js
Labels: none

Docs: Add contrast ration check notice into themes contributing guide (#2894)
  CONTRIBUTING.md
Labels: documentation

Docs: Add missing alt attribute for codecov badge (#2892)
  readme.md
Labels: documentation

Docs (translations): Add missing alt attributes for codecov badges (#2895)
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

Docs: add link to themes contribution guidelines (#2898)
  readme.md
Labels: documentation

Docs: reorder themes contributing guidelines (#2897)
  CONTRIBUTING.md
Labels: documentation

CI: Resolve OSSF GitHub token permissions security alert (#2891)
  .github/workflows/e2e-test.yml
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/label-pr.yml
  .github/workflows/preview-theme.yml
  .github/workflows/prs-cache-clean.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/test.yml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

Eslint integration (#2885)
  .eslintrc.json
  .github/workflows/test.yml
  .husky/pre-commit
  package-lock.json
  package.json
  src/calculateRank.js
  src/getStyles.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/card.test.js
  tests/e2e/e2e.test.js
  tests/fetchRepo.test.js
  tests/fetchStats.test.js
  tests/fetchTopLanguages.test.js
  tests/fetchWakatime.test.js
  tests/flexLayout.test.js
  tests/pat-info.test.js
  tests/pin.test.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguages.test.js
  tests/renderWakatimeCard.test.js
  tests/retryer.test.js
  tests/status.up.test.js
  tests/top-langs.test.js
  tests/utils.test.js
Labels: dependencies, ranks, ci

Fixed docstring for scripts helper function (#2913)
  scripts/helpers.js
Labels: ci

ci: fix id-token 'read' bug (#2904)
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/label-pr.yml
  .github/workflows/preview-theme.yml
  .github/workflows/prs-cache-clean.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

build: rename lint command (#2909)
  .github/workflows/test.yml
  .husky/pre-commit
  package.json
Labels: dependencies, ci

Fixed docstring for fetchOpenPRs function (#2920)
  scripts/close-stale-theme-prs.js
Labels: ci

Refactor: Fixed docstrings for close stale theme PRS workflow helper functions (#2923)
  scripts/close-stale-theme-prs.js
Labels: ci

Fixed typos and grammars in readme.md (#2919)
  readme.md
Labels: documentation

Refactor: remove redundant import from wakatime data fetcher (#2944)
  src/fetchers/wakatime-fetcher.js
Labels: wakatime-card

Refactor: Fixed returns statement for wakatime card functions docstrings (#2934)
  src/cards/wakatime-card.js
Labels: wakatime-card

Refactor: Fixed docstrings for preview theme workflow helper functions (#2924)
  scripts/preview-theme.js
Labels: ci

Refactor: Improve docstrings for card class methods (#2938)
  src/common/Card.js
Labels: none

Refactor: Fixed docstring for retryer function (#2937)
  src/common/retryer.js
Labels: none

Docs: Add note about outdated translations (#2947)
  readme.md
Labels: documentation

Set ecmaVersion inside .eslintrc (#2931)
  .eslintrc.json
Labels: none

Refactor: Fixed stats card createTextNode function docstring (#2933)
  src/cards/stats-card.js
Labels: stats-card

Refactor: Fixed getCardColors function docstring (#2943)
  src/common/utils.js
Labels: none

Fix lint command (#2932)
  package.json
Labels: dependencies

Refactor: Fixed renderStatsCard function docstring (#2946)
  src/cards/stats-card.js
Labels: stats-card

CI: Avoid test workflow duplicate (#2945)
  .github/workflows/test.yml
Labels: ci

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n:
  - src/translations.js
  - src/common/I18n.js
documentation:
  - readme.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
dependencies:
  - package.json
  - package-lock.json
lang-card:
  - api/top-langs.js
  - src/cards/top-languages-card.js
  - src/fetchers/top-languages-fetcher.js
repo-card:
  - api/pin.js
  - src/cards/repo-card.js
  - src/fetchers/repo-fetcher.js
stats-card:
  - api/index.js
  - src/cards/stats-card.js
  - src/fetchers/stats-fetcher.js
wakatime-card:
  - api/wakatime.js
  - src/cards/wakatime-card.js
  - src/fetchers/wakatime-fetcher.js
ranks: src/calculateRank.js
ci:
  - .github/workflows/*
  - scripts/*
