Repository anuraghazra/github-readme-stats, changes with the labels that .github/labeler.yml gives for each.
All labels: themes, doc-translation, card-i18n

Update vercel.json
  vercel.json
Labels: none

Update vercel.json
  vercel.json
Labels: none

Update readme_cn.md
  docs/readme_cn.md
Labels: doc-translation

remove ring_color property
  themes/index.js
Labels: themes

fix contrast issue with dark theme
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

add @ to start of username if not present
  src/fetchers/wakatime-fetcher.js
Labels: none

added \ updated github_dark theme
  themes/index.js
Labels: themes

github_dark_green
  themes/index.js
Labels: themes

github_dark_green
  themes/index.js
Labels: themes

gitignore update
  .gitignore
Labels: none

update CRON job
  .github/FUNDING.yml
  .github/workflows/top-issues-dashboard.yml
  vercel.json
Labels: none

remove unnecessary workflows
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/top-issues-dashboard.yml
Labels: none

Added Greeney.
  themes/index.js
Labels: themes

Updated Greeney.
  themes/index.js
Labels: themes

Changed Name
  themes/index.js
Labels: themes

Added Greeney.
  themes/index.js
Labels: themes

add black theme
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Added Terminal theme
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Update vercel.json
  vercel.json
Labels: none

Update vercel.json
  vercel.json
Labels: none

test: update snapshots
  tests/renderStatsCard.test.js
Labels: none

Add loading Animation to Most used Language card (#2197)
  api/top-langs.js
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
  src/common/createProgressNode.js
Labels: none

ci: fix theme readme generation action (#2271)
  scripts/push-theme-readme.sh
Labels: none

Update vercel.json
  vercel.json
Labels: none

Update vercel.json
  vercel.json
Labels: none

Update vercel.json
  vercel.json
Labels: none

Change Latte title color to pass AA contrast ratio test
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Add ruby theme
  themes/index.js
Labels: themes

Deleted unneeded underscore character
  readme.md
Labels: none

Update vercel.json
  vercel.json
Labels: none

Update readme.md
  readme.md
Labels: none

Updated README.md with new urls
  readme.md
Labels: none

update theme
  themes/index.js
Labels: themes

fix theme
  themes/index.js
Labels: themes

Update index.js
  themes/index.js
Labels: themes

Revert "build(deps): bump json5 from 2.2.1 to 2.2.3 (#2373)"
  package-lock.json
Labels: none

.github/labeler.yml:

themes: themes/index.js
doc-translation: docs/*
card-i18n: src/translations.js
