Repository anuraghazra/github-readme-stats, pull requests merged in 2020-09, with the labels that each got.

#427 Added dark-vue theme.
  themes/index.js
Labels: themes

#401 Added links to french translation
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_pt-BR.md
Labels: doc-translation

#431 Changed align from left to center in docs translations
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_pt-BR.md
Labels: doc-translation

#442 Fixed typos in docs translations
  docs/readme_cn.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
Labels: doc-translation

#392 Add wakatime card
  api/wakatime.js
  package.json
  readme.md
  src/cards/wakatime-card.js
  src/fetchers/wakatime-fetcher.js
  tests/fetchWakatime.test.js
  tests/renderWakatimeCard.test.js
Labels: doc-translation, feature, themes

#477 Fixed hide individual stats options in german and spanish translations
  docs/readme_de.md
  docs/readme_es.md
Labels: doc-translation

#394 Indian theme added to readme-stats
  themes/index.js
Labels: themes

#391 Fix commits count when include_all_commits is true
  src/fetchers/stats-fetcher.js
  tests/fetchStats.test.js
Labels: bug

#486 refactor: refactored createProgressNode logic
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/createProgressNode.js
Labels: refactor

#488 Repo card hide border
  .github/FUNDING.yml
  .github/workflows/test.yml
  .prettierignore
  .prettierrc.json
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  readme.md
  scripts/generate-theme-doc.js
  scripts/preview-theme.js
  src/cards/repo-card.js
  src/cards/stats-card.js
  src/cards/wakatime-card.js
  src/common/retryer.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/fetchers/wakatime-fetcher.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/card.test.js
  tests/fetchRepo.test.js
  tests/fetchStats.test.js
  tests/fetchTopLanguages.test.js
  tests/fetchWakatime.test.js
  tests/pin.test.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguages.test.js
  tests/retryer.test.js
  tests/top-langs.test.js
  tests/utils.test.js
  themes/index.js
Labels: enhancement, lang-card

#496 Update readme_pt-BR.md
  docs/readme_pt-BR.md
Labels: doc-translation

#493 Added "exclude_repo" option to Top Langs
  api/top-langs.js
  readme.md
  src/fetchers/top-languages-fetcher.js
Labels: doc-translation

#436 docs: add hide_border option in all language docs
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_pt-BR.md
  readme.md
Labels: doc-translation

#293 Custom stats title
  api/index.js
  api/top-langs.js
  api/wakatime.js
  docs/readme_es.md
  readme.md
  src/cards/repo-card.js
  src/cards/stats-card.js
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/Card.js
  tests/card.test.js
Labels: doc-translation, enhancement, themes
