Repository anuraghazra/github-readme-stats, pull requests merged in 2020-10, with the labels that each got.

#531 Add theme "blueberry"
  themes/index.js
Labels: themes

#527 Add theme "Yeblu"
  themes/index.js
Labels: themes

#528 Update index.js
  themes/index.js
Labels: themes

#530 a new "jolly" theme borns
  themes/index.js
Labels: themes

#543 Added missing stats card options in docs translations
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_pt-BR.md
Labels: doc-translation

#565 chore(card-translation): improve Japanese translations
  src/translations.js
Labels: card-i18n

#576 Add explanation of the ranks
  readme.md
Labels: documentation

#542 URL Encoding Help
  readme.md
Labels: documentation

#570 Updated translations.js to include Portuguese (Portugal) translations.
  src/translations.js
Labels: hacktoberfest-accepted

#598 Added Hungarian card translations
  src/translations.js
Labels: hacktoberfest-accepted

#589 Added new theme "kacho-ga"
  themes/index.js
Labels: themes

#588 Added slateorange theme
  themes/index.js
Labels: themes

#541 full Dutch (The Netherlands) support
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_pt-BR.md
  readme.md
  src/translations.js
Labels: doc-translation

#603 fix: fixed available locale list
  api/index.js
  api/pin.js
  api/top-langs.js
  src/common/utils.js
  src/translations.js
Labels: bug
