Repository anuraghazra/github-readme-stats, pull requests merged in 2020-07, with the labels that each got.

#17 feat: added better error handling
  api/index.js
  api/pin.js
  utils.js
Labels: enhancement

#84 fix: filter out private repos
  src/fetchRepo.js
  tests/fetchRepo.test.js
Labels: bug

#99 feat: show archive badge if repo is archive
  src/fetchRepo.js
  src/renderRepoCard.js
  tests/renderRepoCard.test.js
Labels: design, feature

#97 Hide star and fork stats in repo card if count of equals to zero
  src/renderRepoCard.js
Labels: design, enhancement

#100 refactor: added FlexLayout for flex layouts
  src/renderRepoCard.js
  src/renderStatsCard.js
  src/utils.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/utils.test.js
Labels: enhancement

#106 fix style collapses on stats card by css font config
  src/getStyles.js
Labels: bug, design

#75 Added proper apostrophe in stats card's header
  src/renderStatsCard.js
  tests/renderStatsCard.test.js
Labels: enhancement

#109 Update & Improvements on Existing Simplified Chinese Translation of README
  readme_cn.md
Labels: documentation

#117 feat: added ability to set custom cache
  api/index.js
  api/pin.js
  src/renderRepoCard.js
  src/utils.js
  tests/api.test.js
Labels: feature

#123 Added new theme
  .gitignore
  themes/index.js
Labels: themes

#128 feat: added Top languages card
  api/top-langs.js
  readme.md
  src/fetchTopLanguages.js
  src/renderTopLanguages.js
  tests/fetchTopLanguages.test.js
  tests/renderTopLanguages.test.js
  tests/top-langs.test.js
Labels: feature

#131 fix: fixed sorting of languages by percentage
  src/renderTopLanguages.js
Labels: bug

#166 docs: fix typo in top lang section
  readme.md
Labels: documentation

#151 fix: stats hide border bug
  src/renderStatsCard.js
  tests/renderStatsCard.test.js
Labels: bug, design

#144 readme_cn.md
  readme_cn.md
Labels: documentation

#137 docs: changed bugs and feature link
  readme.md
  readme_cn.md
  readme_es.md
Labels: documentation

#172 doc: fixed typo and retranslated some titles.
  readme_cn.md
Labels: documentation

#67 feat(repocard): parse emojis in description
  api/pin.js
  package.json
  src/renderRepoCard.js
  tests/renderRepoCard.test.js
Labels: design, enhancement, feature

#173 update Hide individual languages for readme_ch
  readme_cn.md
Labels: documentation

#124 style(theme): Add monokai theme
  themes/index.js
Labels: themes

#143 Add: Vue theme
  themes/index.js
Labels: themes

#185 📦 ADD: shade of purple theme
  themes/index.js
Labels: themes

#186 Add Night-Owl Theme
  themes/index.js
Labels: themes

#179 compact layout for top languages card #134
  api/top-langs.js
  readme.md
  src/renderTopLanguages.js
  tests/renderTopLanguages.test.js
Labels: design, feature

#214 added: theme algolia
  themes/index.js
Labels: themes

#231 Added Gatsby Theme
  themes/index.js
Labels: themes

#171 Add german translation of Readme
  readme.md
  readme_de.md
Labels: documentation

#260 refactor: added reusable Card class to reduce code & test duplication
  api/top-langs.js
  readme.md
  src/Card.js
  src/getStyles.js
  src/renderRepoCard.js
  src/renderStatsCard.js
  src/renderTopLanguages.js
  tests/card.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguages.test.js
Labels: enhancement

#211 fix: wip fix total commit counts
  api/index.js
  package.json
  readme.md
  src/fetchStats.js
  src/renderStatsCard.js
  tests/fetchStats.test.js
Labels: bug, enhancement, help wanted, in-progress, stats
