Repository anuraghazra/github-readme-stats, pull requests merged in 2020-08, with the labels that each got.

#286 Updated readme_es.md
  readme_es.md
Labels: documentation

#281 Add `solarized` themes
  themes/index.js
Labels: themes

#280 docs(translation): add Brazilian Portuguese translation file
  readme.md
  readme_pt-BR.md
Labels: documentation

#278 Added new theme Bear
  themes/index.js
Labels: themes

#314 Add Nordtheme
  themes/index.js
Labels: themes

#317 Add gotham theme
  themes/index.js
Labels: themes

#345 [themes] Add vue theme of vs code
  themes/index.js
Labels: themes

#285 Add darcula theme.
  themes/index.js
Labels: themes

#355 feat: added CustomError class for better secondary errors
  api/index.js
  api/pin.js
  api/top-langs.js
  src/common/retryer.js
  src/common/utils.js
  src/fetchers/stats-fetcher.js
Labels: enhancement

#353 Update readme_ja.md
  docs/readme_ja.md
Labels: documentation

#362 correct all links in the translated readme
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_pt-BR.md
Labels: doc-translation

#361 Update readme_kr.md
  docs/readme_kr.md
Labels: doc-translation

#382 readme: updated German translation
  docs/readme_de.md
Labels: doc-translation

#383 fix: increase cache
  api/index.js
  api/pin.js
  api/top-langs.js
  readme.md
  src/common/utils.js
  tests/api.test.js
Labels: bug

#384 fix: catched all errors
  api/index.js
  api/pin.js
  api/top-langs.js
Labels: bug

#342 Added color blind friendly dark theme
  themes/index.js
Labels: themes

#299 Add 'calm' theme
  themes/index.js
Labels: themes

#372 readme : add French Translations
  docs/readme_fr.md
  readme.md
Labels: doc-translation

#329 Code coverage badge is missing in readme_es.md
  docs/readme_es.md
Labels: doc-translation

#369 style: add ayu-mirage theme
  themes/index.js
Labels: themes

#313 Added chartreuse-dark theme
  themes/index.js
Labels: themes

#404 Update Japanese translations
  docs/readme_ja.md
Labels: doc-translation

#406 Fixed links in readme_fr.md
  docs/readme_fr.md
Labels: doc-translation

#405 Fix links in readme_ja.md
  docs/readme_ja.md
Labels: doc-translation

#423 Added "react" theme
  themes/index.js
Labels: themes

#426 Added Midnight-Purple Theme
  themes/index.js
Labels: themes

#424 Add Omni theme
  themes/index.js
Labels: themes

#421 Fixed links in docs translations
  docs/readme_de.md
  docs/readme_fr.md
  docs/readme_ja.md
Labels: doc-translation

#418 fix links in readme_cn.md
  docs/readme_cn.md
Labels: doc-translation
