Repository anuraghazra/github-readme-stats, pull requests merged in 2021-10, with the labels that each got.

#1341 Match link with section title
  docs/readme_es.md
Labels: doc-translation, hacktoberfest-accepted

#1343 Added theme cobalt2
  themes/index.js
Labels: themes, hacktoberfest-accepted

#1342 Noctis minimus
  themes/index.js
Labels: themes, hacktoberfest-accepted, hacktoberfest

#1346 Fix grammatical errors in the scripts
  scripts/generate-theme-doc.js
  scripts/preview-theme.js
Labels: hacktoberfest-accepted, hacktoberfest
