Repository anuraghazra/github-readme-stats, pull requests merged in 2021-01, with the labels that each got.

#786 Polish translation
  src/translations.js
Labels: card-i18n

#771 docs: fix broken links at translated docs
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_pt-BR.md
Labels: doc-translation

#750 Turkish is added to translations.js
  src/translations.js
Labels: card-i18n

#738 Improve french translations
  docs/readme_fr.md
  src/translations.js
Labels: card-i18n, doc-translation

#784 chore(card-translation): added ukrainian card translations
  src/translations.js
Labels: card-i18n

#774 Polish Chinese translation
  src/translations.js
  tests/renderStatsCard.test.js
Labels: card-i18n

#791 chore(translation): fix russian card translations
  src/translations.js
Labels: card-i18n

#552 Translated to Nepali docs
  docs/readme_np.md
Labels: doc-translation

#797 chore: added theme contribution guidelines in theme preview bot
  scripts/preview-theme.js
  themes/index.js
Labels: themes

#798 chore: improved bot preview
  .github/workflows/preview-theme.yml
  scripts/preview-theme.js
Labels: themes

#800 fix: theme workflow
  .github/workflows/preview-theme.yml
Labels: themes

#816 docs : Update readme parameter
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
  readme.md
Labels: doc-translation

#657 added some small improvements.
  readme.md
Labels: stale

#841 docs(translations): some minor improvements
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
  scripts/generate-theme-doc.js
  themes/README.md
Labels: doc-translation
