Repository anuraghazra/github-readme-stats, pull requests merged in 2021-03, with the labels that each got.

#836 Improve Chinese Translation
  src/translations.js
Labels: card-i18n

#912 docs(translations): added missing links to nepali translations
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
  readme.md
Labels: doc-translation

#911 Improved russian translation of wakatime stats card
  src/translations.js
Labels: card-i18n

#907 Ocean Dark Theme
  themes/index.js
Labels: themes

#868 Improve Spanish translations
  docs/readme_es.md
  src/translations.js
Labels: card-i18n, doc-translation

#874 chore: allow to customize wakatime data range
  api/wakatime.js
  docs/readme_de.md
  readme.md
  src/fetchers/wakatime-fetcher.js
  tests/fetchWakatime.test.js
Labels: doc-translation

#934 Added the City Lights Theme
  themes/index.js
Labels: themes
