Repository anuraghazra/github-readme-stats, pull requests merged in 2021-06, with the labels that each got.

#1109 Update translations.js
  src/translations.js
Labels: card-i18n

#1086 Update DE Readme
  docs/readme_de.md
Labels: doc-translation

#1079 Discord Old Blurple
  themes/index.js
Labels: themes
