Repository anuraghazra/github-readme-stats, pull requests merged in 2022-11, with the labels that each got.

#2116 Missing term in calculation of TOTAL_VALUES.
  src/calculateRank.js
  tests/calculateRank.test.js
  tests/e2e/e2e.test.js
Labels: bug, ranks, stats-card, hacktoberfest-accepted, hacktoberfest

#2245 Update brazilian readme
  docs/readme_pt-BR.md
Labels: doc-translation

#2075 feat: allow users to pass ring_color param
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/common/utils.js
  src/getStyles.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/api.test.js
  tests/renderStatsCard.test.js
  tests/utils.test.js
Labels: hacktoberfest-accepted, hacktoberfest

#2264 Added Date Night theme to index.js
  themes/index.js
Labels: themes

#2033 refactor: migrate to using arrow functions
  src/calculateRank.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: card-i18n

#2121 fix: fix retry max-out bug
  src/common/retryer.js
Labels: high-priority

#2274 fix: fix repoContrib confusion (#2269)
  src/cards/stats-card.js
  tests/renderStatsCard.test.js
Labels: bug, high-priority
