Repository anuraghazra/github-readme-stats, pull requests merged in 2022-09, with the labels that each got.

#1999 Add prettier check to CI
  .github/workflows/test.yml
  package.json
  scripts/generate-langs-json.js
  src/calculateRank.js
  src/cards/repo-card.js
  src/fetchers/wakatime-fetcher.js
  tests/fetchTopLanguages.test.js
  tests/fetchWakatime.test.js
  tests/renderWakatimeCard.test.js
  themes/index.js
Labels: themes

#1334 Fix #1170: Allow customizable width for GitHub Stats Card
  api/index.js
  readme.md
  src/cards/stats-card.js
  tests/renderStatsCard.test.js
Labels: enhancement

#1995 Feature/grs 1955 change commonjs imports
  .github/workflows/generate-theme-doc.yml
  .github/workflows/test.yml
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  jest.config.js
  package.json
  scripts/generate-langs-json.js
  scripts/generate-theme-doc.js
  scripts/preview-theme.js
  scripts/push-theme-readme.sh
  src/calculateRank.js
  src/cards/repo-card.js
  src/cards/stats-card.js
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/Card.js
  src/common/I18n.js
  src/common/blacklist.js
  src/common/createProgressNode.js
  src/common/icons.js
  src/common/languageColors.json
  src/common/retryer.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/fetchers/wakatime-fetcher.js
  src/getStyles.js
  src/translations.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/api.test.js
  tests/calculateRank.test.js
  tests/card.test.js
  tests/fetchRepo.test.js
  tests/fetchStats.test.js
  tests/fetchTopLanguages.test.js
  tests/fetchWakatime.test.js
  tests/flexLayout.test.js
  tests/pin.test.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguages.test.js
  tests/renderWakatimeCard.test.js
  tests/retryer.test.js
  tests/top-langs.test.js
  tests/utils.test.js
  themes/index.js
Labels: themes, card-i18n

#2050 build: fix wakatime json import bug
  package-lock.json
  package.json
  src/cards/wakatime-card.js
Labels: bug
