Repository anuraghazra/github-readme-stats, pull requests merged in 2022-05, with the labels that each got.

#1171 Fix readme typo
  readme.md
Labels: documentation

#1399 Update readme.md
  readme.md
Labels: documentation

#1462 Updated readme_de.md
  docs/readme_de.md
Labels: doc-translation

#1540 Update link view demo in pt-BR
  docs/readme_pt-BR.md
Labels: doc-translation

#956 docs(translations): corrected code blocks language
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#1724 chore: replace `git.io` links
  src/common/utils.js
Labels: bug

#1747 added swedish translations
  src/translations.js
Labels: card-i18n

#1766 📝 Linked "hide" URL param values to its description
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  readme.md
Labels: doc-translation

#1783 japanese translation fix
  src/translations.js
Labels: card-i18n
