Repository anuraghazra/github-readme-stats, pull requests merged in 2022-10, with the labels that each got.

#2054 ci: add e2e vercel test action
  .github/workflows/e2e-test.yml
  jest.config.js
  jest.e2e.config.js
  package-lock.json
  package.json
  tests/e2e/e2e.test.js
Labels: enhancement

#2065 ci: improve theme-preview action
  .github/workflows/preview-theme.yml
  scripts/preview-theme.js
Labels: enhancement, themes

#2083 Caching Dependencies to speed up workflows
  .github/workflows/e2e-test.yml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/preview-theme.yml
  .github/workflows/test.yml
Labels: hacktoberfest-accepted

#2080 ci(label-pr): upgrade actions/labeler to v4
  .github/workflows/label-pr.yml
Labels: hacktoberfest-accepted

#2051 feat: added default options to readme
  readme.md
Labels: hacktoberfest-accepted

#2085 Fix Give India Logo in readme.md
  readme.md
Labels: hacktoberfest-accepted

#2094 update default values in readme
  readme.md
  src/cards/repo-card.js
  src/cards/top-languages-card.js
Labels: hacktoberfest-accepted

#2101 fix: adding docstrings to the files where it was missing
  src/calculateRank.js
  src/cards/stats-card.js
  src/common/retryer.js
  src/common/utils.js
Labels: hacktoberfest-accepted

#2103 feat: default values for wakatime and language
  readme.md
Labels: hacktoberfest-accepted

#2102 Update the Vercel deployement guide
  readme.md
Labels: hacktoberfest-accepted

#2105 Fix card length during error
  src/common/utils.js
Labels: hacktoberfest-accepted

#2100 fix: fetch all repos for for the stats card
  src/fetchers/stats-fetcher.js
  tests/api.test.js
  tests/fetchStats.test.js
Labels: hacktoberfest-accepted

#2109 Add createProgressNode type
  src/common/createProgressNode.ts
Labels: hacktoberfest-accepted

#2146 Add format script to pre-commit hook
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: hacktoberfest-accepted

#2129 fix: adding doc strings to files in src folder where it was missing
  src/calculateRank.js
  src/cards/repo-card.js
  src/cards/stats-card.js
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/Card.js
  src/common/I18n.js
  src/common/createProgressNode.js
  src/common/utils.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/fetchers/wakatime-fetcher.js
  src/getStyles.js
  src/translations.js
Labels: card-i18n, hacktoberfest-accepted

#2127 Updated issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: hacktoberfest-accepted

#2160 fix: prevent errors from being cached
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
Labels: high-priority

#2192 fix: text overlapped on zh-tw locale
  src/cards/stats-card.js
Labels: bug, hacktoberfest-accepted, hacktoberfest

#2153 Add types for common directory
  src/cards/wakatime-card.ts
  src/common/Card.ts
  src/common/I18n.ts
  src/common/blacklist.ts
  src/common/createProgressNode.ts
  src/common/icons.ts
  src/common/retryer.ts
  src/common/utils.ts
  src/fetchers/repo-fetcher.ts
  src/types/ global.d.ts
  src/types/types.d.ts
  themes/index.ts
  tsconfig.json
Labels: hacktoberfest-accepted, hacktoberfest

#2232 Fix GitHub capitalization
  docs/readme_kr.md
  docs/readme_np.md
  docs/readme_tr.md
  readme.md
  scripts/helpers.js
  scripts/preview-theme.js
  scripts/push-theme-readme.sh
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/translations.js
Labels: doc-translation, card-i18n, hacktoberfest-accepted

#2229 Document auto theme change #2074
  readme.md
Labels: hacktoberfest

#2228 Fix truncation of compact wakatime progress bar when langs_count is set
  src/cards/wakatime-card.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderWakatimeCard.test.js
Labels: hacktoberfest-accepted, hacktoberfest

#2240 Corrections of Polish expressions in translations.js
  src/translations.js
Labels: card-i18n, hacktoberfest-accepted
