Repository anuraghazra/github-readme-stats, pull requests merged in 2023-04, with the labels that each got.

#2155 Add format stats option
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  tests/renderStatsCard.test.js
Labels: documentation, enhancement, hacktoberfest-accepted, hacktoberfest

#2594 add github_dark_dimmed theme
  themes/README.md
  themes/index.js
Labels: themes

#2628 feat(RankIcon): add rank_icon option
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
  tests/renderStatsCard.test.js
Labels: documentation

#957 Removed redundant comparison in "src/cards/stats-card.js"
  src/cards/stats-card.js
Labels: enhancement

#1782 docs (translations): add missing links to turkish translation
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
Labels: doc-translation

#1792 docs (translations): fix path to powered by vercel image inside turkish translation
  docs/readme_tr.md
Labels: doc-translation

#2616 Synchonize cache seconds min value inside docs translations with main readme
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#1732 New top language algorithm implementation
  api/top-langs.js
  readme.md
  src/fetchers/top-languages-fetcher.js
  tests/fetchTopLanguages.test.js
Labels: documentation, enhancement, lang-card

#2605 docs: update give logo
  readme.md
Labels: documentation

#2652 Fixed typo in word color inside README
  readme.md
Labels: documentation

#2659 docs: fix README language card usage order
  readme.md
Labels: documentation
