Repository anuraghazra/github-readme-stats, pull requests merged in 2023-11, with the labels that each got.

#3451 infra: enable no-class-assign eslint rule
  .eslintrc.json
Labels: infrastructure

#3452 infra: enable no-const-assign eslint rule
  .eslintrc.json
Labels: infrastructure

#3456 infra: enable no-dupe-class-members eslint rule
  .eslintrc.json
Labels: infrastructure

#3455 tests(wakatime-fetcher): fix brand casing
  tests/fetchWakatime.test.js
Labels: wakatime-card

#3457 infra: enable constructor-super eslint rule
  .eslintrc.json
Labels: infrastructure

#3399 themes: add ambient_gradient theme for test
  themes/index.js
Labels: themes, hacktoberfest-accepted

#3231 allow usage of .env file for PAT tokens
  express.js
Labels: enhancement, :star: top pull request

#3464 infra: enable keyword-spacing eslint rule and remove decrecated space-*-keyword rules
  .eslintrc.json
Labels: infrastructure

#3465 infra: enable no-delete-var eslint rule
  .eslintrc.json
Labels: infrastructure

#3473 infra: enable no-caller eslint rule
  .eslintrc.json
Labels: infrastructure

#3463 Grammar/Clarity Fixes.
  readme.md
Labels: documentation

#3453 feature(repo card): add description lines count query parameter
  api/pin.js
  readme.md
  src/cards/repo-card.js
  src/cards/types.d.ts
  tests/renderRepoCard.test.js
Labels: documentation, enhancement, repo-card, feature

#3496 feat(wakatime card): add disable animations query option
  api/wakatime.js
  readme.md
  src/cards/types.d.ts
  src/cards/wakatime-card.js
Labels: documentation, wakatime-card

#3326 feat: show wakatime stats in percentage (resolves #3016)
  api/wakatime.js
  readme.md
  src/cards/types.d.ts
  src/cards/wakatime-card.js
Labels: documentation, wakatime-card, hacktoberfest-accepted

#3504 fix(wakatime card): add percent display format for compact layout (resolves #3503)
  src/cards/wakatime-card.js
Labels: wakatime-card

#3484 docs: improve query options appereance using tables
  readme.md
Labels: documentation

#3372 tests: add gist card performance test
  tests/bench/gist.bench.js
Labels: hacktoberfest-accepted

#3374 tests: add pin card performance test
  tests/bench/pin.bench.js
Labels: hacktoberfest-accepted
