Repository anuraghazra/github-readme-stats, pull requests merged in 2023-06, with the labels that each got.

#2707 fix: Make WakaTime card compatible with new API
  api/wakatime.js
  readme.md
  src/cards/wakatime-card.js
  src/common/utils.js
  src/fetchers/wakatime-fetcher.js
  src/translations.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/e2e/e2e.test.js
  tests/fetchWakatime.test.js
  tests/renderWakatimeCard.test.js
Labels: documentation, card-i18n

#2776 Add note about private contributions into readme
  readme.md
Labels: documentation

#2696 docs: improve readme links
  readme.md
Labels: documentation

#2708 fix: fix stats contributed to translations
  src/cards/stats-card.js
  src/translations.js
  tests/renderStatsCard.test.js
Labels: card-i18n

#2736 feat: remove 'include_private'
  api/index.js
  readme.md
  src/fetchers/stats-fetcher.js
  tests/fetchStats.test.js
Labels: documentation

#2787 Docs: fix small typo inside readme in keep fork up to date section
  readme.md
Labels: documentation

#2266 feat: add CACHE_SECONDS environment variable
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  readme.md
Labels: documentation

#2789 Docs: add warning about top languages card behavior.
  readme.md
Labels: documentation

#2792 Update readme.md about maxDuration
  readme.md
Labels: documentation

#2799 Remove restrictedContributionsCount from GraphQL query and tests
  src/fetchers/stats-fetcher.js
  tests/api.test.js
  tests/fetchStats.test.js
Labels: stats-card

#2795 Docs: fixed table of contents aligment
  readme.md
Labels: documentation

#2804 docs: add FAQ to readme
  readme.md
Labels: documentation

#2805 docs: add PAT permission to docs
  readme.md
Labels: documentation

#2807 Docs: rename wakatime stats card section
  readme.md
Labels: documentation

#2806 Docs: set correct separation symbol between translations links
  readme.md
Labels: documentation

#2579 Added neon theme
  themes/index.js
Labels: themes, :star: top pull request, :star: top themes

#2811 Docs (translations): Regenerated tables of contents using yzhang.markdown-all-in-one extension
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2762 Add finer ranking levels
  readme.md
  src/calculateRank.js
  src/cards/stats-card.js
  src/fetchers/stats-fetcher.js
  src/fetchers/types.d.ts
  tests/calculateRank.test.js
Labels: documentation, ranks, stats-card

#2819 Use node 18.x in continuous integration
  .github/workflows/e2e-test.yml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/preview-theme.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/test.yml
  .github/workflows/update-langs.yaml
Labels: ci

#2823 Specify node version inside package.json
  package.json
Labels: dependencies

#2820 Use default json import
  src/cards/wakatime-card.js
Labels: wakatime-card

#1404 Added pr reviews to stats
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
  src/fetchers/stats-fetcher.js
  src/fetchers/types.d.ts
  src/translations.js
  tests/fetchStats.test.js
  tests/renderStatsCard.test.js
Labels: documentation, enhancement, stats-card, card-i18n

#2825 refactor: add PR review translations
  src/translations.js
Labels: card-i18n

#2829 Revert "Use default json import"
  src/cards/wakatime-card.js
Labels: wakatime-card

#2826 increase top list size
  .github/workflows/top-issues-dashboard.yml
Labels: ci

#2834 Stats card: Reorder total reviews count position
  src/cards/stats-card.js
Labels: stats-card

#2835 Stats card: Change total reviews label and add missing translations
  src/translations.js
Labels: card-i18n

#2831 Docs: make discussion link clickable
  readme.md
Labels: documentation

#2830 Docs: improve GitHub media feature HTML example formatting
  readme.md
Labels: documentation

#2833 Fixed docstring for trimTopLanguages function
  src/cards/top-languages-card.js
  tests/renderTopLanguages.test.js
Labels: lang-card

#2832 Top langs card: Increase maximum languages count to 20
  src/cards/top-languages-card.js
Labels: lang-card

#2843 Docs: Increase maximum languages count to 20
  readme.md
Labels: documentation

#2841 Docs: Make important notice link clickable
  readme.md
Labels: documentation

#2845 Stats card: remove duplicate hide option default value from render function
  src/cards/stats-card.js
Labels: stats-card

#2844 Stats card: migrate from show_total_reviews to show option (resolves #2836)
  api/index.js
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  tests/renderStatsCard.test.js
Labels: documentation, stats-card

#2848 Docs: fix broken demos link
  readme.md
Labels: documentation

#2847 CI: Add missing bracket inside theme preview workflow warning
  scripts/preview-theme.js
Labels: ci

#2850 Wakatime card: add missing translations (resolves #2839)
  src/translations.js
Labels: card-i18n

#2849 Stats card: show started and answered discussions stats
  readme.md
  src/cards/stats-card.js
  src/common/icons.js
  src/fetchers/stats-fetcher.js
  src/fetchers/types.d.ts
  src/translations.js
  tests/api.test.js
  tests/fetchStats.test.js
  tests/renderStatsCard.test.js
Labels: documentation, stats-card, card-i18n

#2855 Docs: fix link for extra pins card options
  readme.md
Labels: documentation

#2856 Remove several redundant number -> string -> number conversions
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
Labels: lang-card, wakatime-card

#2858 feat: add 'progress' rank icon
  package-lock.json
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
  src/getStyles.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderStatsCard.test.js
Labels: documentation, stats-card, dependencies

#2861 Docs: change example wakatime profile
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
  readme.md
Labels: documentation, doc-translation

#2862 Docs: improve GitHub media feature example HTML formatting
  readme.md
Labels: documentation

#2859 add percentile rank icon
  .vscode/settings.json
  readme.md
  src/cards/stats-card.js
  src/cards/types.d.ts
  src/common/icons.js
  src/getStyles.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/renderStatsCard.test.js
Labels: documentation, stats-card

#2873 Use stable axios version 1.x.x
  package-lock.json
  package.json
Labels: dependencies

#2865 Docs: improve quick align tip section
  readme.md
Labels: documentation

#2868 Fixed resizing of stats card when all metrics except rank are hidden
  src/cards/stats-card.js
  src/translations.js
Labels: stats-card, card-i18n

#2876 remove progress icon example
  readme.md
Labels: documentation

#2881 Top langs card: Fixed getLongestLang function docstring to resolve vscode errors
  src/cards/top-languages-card.js
Labels: lang-card

#2883 I18n: Fixed docstring for statsCardLocales function and enable ts-check
  src/translations.js
Labels: card-i18n

#2882 refactor: object shorthand
  src/calculateRank.js
Labels: ranks

#2879 CI: Add OSSF scorecard analysis workflow
  .github/workflows/ossf-analysis.yml
  readme.md
Labels: documentation, ci

#2884 Docs (translations): Add OSSF badges
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2887 Docs (translations): Add missing GitHub contributors badges
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2886 CI: Fix warnings variable usage inside theme preview workflow
  scripts/preview-theme.js
Labels: ci

#2892 Docs: Add missing alt attribute for codecov badge
  readme.md
Labels: documentation

#2894 Docs: Add contrast ration check notice into themes contributing guide
  CONTRIBUTING.md
Labels: documentation

#2895 Docs (translations): Add missing alt attributes for codecov badges
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2898 Docs: add link to themes contribution guidelines
  readme.md
Labels: documentation

#2897 Docs: reorder themes contributing guidelines
  CONTRIBUTING.md
Labels: documentation
