Repository anuraghazra/github-readme-stats, pull requests merged in 2023-10, with the labels that each got.

#3284 ci(labeler): fix infrastructure label
  .github/labeler.yml
Labels: hacktoberfest-accepted, ci

#3333 docs(contributing guidelines): remove duplicate license section
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3331 docs: add available locales section
  readme.md
Labels: documentation, hacktoberfest-accepted

#3336 Update readme.md
  readme.md
Labels: documentation, hacktoberfest-accepted

#2918 CI: Add static code analysis workflow (CodeQL)
  .github/workflows/codeql-analysis.yml
Labels: ci

#3233 infra: enable no-with eslint rule
  .eslintrc.json
Labels: hacktoberfest-accepted, infrastructure

#3262 infra: enable no-multiple-empty-lines eslint rule
  .eslintrc.json
Labels: hacktoberfest-accepted, infrastructure

#3067 docs: fix relative README links
  readme.md
Labels: documentation, hacktoberfest-accepted

#3273 feature: do not aks user's to open new issues on upstream API errors
  src/common/utils.js
  tests/api.test.js
Labels: stats-card

#3141 Add performance tests base
  .github/workflows/test.yml
  .gitignore
  jest.bench.config.js
  package-lock.json
  package.json
  tests/bench/api.bench.js
  tests/bench/calculateRank.bench.js
Labels: ci, dependencies

#3308 Update generate-theme-doc.js
  scripts/generate-theme-doc.js
Labels: hacktoberfest-accepted, ci

#3353 Revert "Update generate-theme-doc.js"
  scripts/generate-theme-doc.js
Labels: ci

#3208 feature: fetch only requested data from GitHub GraphQL API to reduce load
  api/index.js
  src/fetchers/stats-fetcher.js
  tests/fetchStats.test.js
Labels: stats-card, hacktoberfest-accepted

#3261 infra: enable radix eslint rule
  .eslintrc.json
  src/common/utils.js
Labels: hacktoberfest-accepted, infrastructure

#3285 infra: enable no-mixed-spaces-and-tabs eslint rule
  .eslintrc.json
Labels: hacktoberfest-accepted, infrastructure

#3354 ci: fix master branch name in CodeQL analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: enhancement, hacktoberfest-accepted, ci

#3350 docs: add uptime badge
  readme.md
Labels: documentation

#3352 ci: fix 'update-langs' ci permissions
  .github/workflows/update-langs.yaml
Labels: ci

#3355 ci: fix small theme preview script typo
  scripts/generate-theme-doc.js
Labels: hacktoberfest-accepted, ci

#3362 docs(themes): improve compatibility message
  scripts/generate-theme-doc.js
Labels: hacktoberfest-accepted, ci

#3232 refactor: resolve vscode type errors in wakatime card render and remove redundant css
  src/cards/stats-card.js
  src/cards/wakatime-card.js
  src/common/Card.js
  src/getStyles.js
  src/index.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
Labels: stats-card, wakatime-card

#3360 docs: add translations contribution guide
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3347 docs: improve vercel badge position
  readme.md
Labels: documentation

#3363 docs: add top issues dashboard notice
  readme.md
Labels: documentation, hacktoberfest-accepted

#3283 infra: enable no-negated-condition eslint rule
  .eslintrc.json
  scripts/close-stale-theme-prs.js
  scripts/generate-theme-doc.js
  scripts/preview-theme.js
  src/cards/stats-card.js
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/Card.js
  src/common/utils.js
  src/fetchers/stats-fetcher.js
Labels: stats-card, lang-card, wakatime-card, hacktoberfest-accepted, ci, infrastructure

#3361 docs(translations): remove broken sponsors links
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation, hacktoberfest-accepted

#3358 docs(contributing): remove outdated local dev steps
  CONTRIBUTING.md
Labels: documentation

#3373 docs(contributions): use HTTPS protocol inside license link
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3371 docs(contributions): improve visability of themes merging policy
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3390 docs: add link to translations contribution guidelines
  readme.md
Labels: documentation, hacktoberfest-accepted

#3394 docs(contributions): add one theme per pull request rule
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3395 ci(theme preview): add one theme per pull request rule
  scripts/preview-theme.js
Labels: hacktoberfest-accepted, ci

#2376 Add light and dark Catppuccin themes with fix for contrast
  themes/index.js
Labels: themes

#3409 docs: themes addition paused
  readme.md
Labels: documentation, hacktoberfest-accepted

#3408 docs(contributing): themes addition paused
  CONTRIBUTING.md
Labels: documentation

#3400 ci(theme preview): allow gradient themes
  scripts/preview-theme.js
  src/common/utils.js
Labels: hacktoberfest-accepted, ci

#3401 tests: allow gradient themes
  tests/renderGistCard.test.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguagesCard.test.js
Labels: stats-card, repo-card, lang-card, hacktoberfest-accepted, gist-card

#3407 docs(theme): auto update theme readme
  themes/README.md
Labels: hacktoberfest-accepted

#3410 ci(top issues dashboard): themes addition paused
  .github/workflows/top-issues-dashboard.yml
Labels: hacktoberfest-accepted, ci

#3411 Fix `WakaTime` brand casing
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
  readme.md
  scripts/generate-theme-doc.js
  src/translations.js
  tests/__snapshots__/renderWakatimeCard.test.js.snap
  tests/fetchWakatime.test.js
  tests/renderWakatimeCard.test.js
Labels: documentation, doc-translation, wakatime-card, card-i18n, hacktoberfest-accepted, ci

#3426 Documentation fixed.
  CONTRIBUTING.md
Labels: documentation, hacktoberfest-accepted

#3422 Fix typos in Ukrainian language
  src/translations.js
Labels: card-i18n, hacktoberfest-accepted

#3427 ci(preview theme): allow gradient colors (2)
  scripts/preview-theme.js
  src/common/utils.js
Labels: hacktoberfest-accepted, ci

#3431 Fix typo in top-languages-fetcher.js
  src/fetchers/top-languages-fetcher.js
  tests/fetchTopLanguages.test.js
Labels: lang-card

#3298 [Feature] Render error card in same theme as requested card #3259
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/utils.js
Labels: stats-card, repo-card, lang-card, wakatime-card, hacktoberfest-accepted, gist-card

#3444 refactor: improve blacklisted username error by adding secondary message
  api/index.js
  api/pin.js
  api/top-langs.js
  tests/api.test.js
  tests/pin.test.js
  tests/top-langs.test.js
Labels: stats-card, repo-card, lang-card, hacktoberfest-accepted

#3443 tests(stats card): cover with test changes in #3298
  tests/api.test.js
Labels: stats-card, hacktoberfest-accepted

#3435 infra(dependabot): set myself as pull requests reviewer
  .github/dependabot.yml
Labels: hacktoberfest-accepted

#3434 infra(dependabot): configure commits message to match conventional commits rules
  .github/dependabot.yml
Labels: hacktoberfest-accepted
