Repository anuraghazra/github-readme-stats, pull requests merged in 2023-08, with the labels that each got.

#3017 CI: Fix theme preview workflow
  scripts/preview-theme.js
Labels: ci

#3032 Refactor: Wakatime card: Add missing returns statement for createTextNode function
  src/cards/wakatime-card.js
Labels: wakatime-card

#3033 Refactor: Wakatime card: Use @typedef to resolve eslint errors
  src/cards/wakatime-card.js
Labels: wakatime-card

#3034 CI: Fix theme preview workflow (Attempt 2)
  scripts/preview-theme.js
Labels: ci

#3037 Refactor: Wakatime card: Use typedef tags to resolve eslint errors
  src/cards/wakatime-card.js
Labels: wakatime-card

#3036 Refactor: Top langs card: Fix returns tag in docstrings
  src/cards/top-languages-card.js
Labels: lang-card

#3039 Refactor: Stats card: Use typedef tags to resolve eslint errors
  src/cards/stats-card.js
Labels: stats-card

#3040 Refactor: Top langs card: Use typedef tags to resolve eslint errors
  src/cards/top-languages-card.js
Labels: lang-card

#3043 Refactor: Repo card: Use typedef tags inside data fetcher to resolve eslint errors
  src/fetchers/repo-fetcher.js
Labels: repo-card

#3042 Refactor: Top langs card: Resolve type error with hide_border variable
  src/cards/top-languages-card.js
Labels: lang-card

#3053 Refactor: Repo card: Use typedef tags to resolve eslint errors
  src/cards/repo-card.js
Labels: repo-card

#3056 Refactor: Stats card: Use typedef tags inside data fetcher to resolve eslint errors
  src/common/retryer.js
  src/fetchers/stats-fetcher.js
Labels: stats-card

#3058 Stats card: Add Malayalam to long languages
  src/cards/stats-card.js
Labels: stats-card

#3061 Refactor: Top langs card: Use typedef tags inside data fetcher
  src/fetchers/top-languages-fetcher.js
Labels: lang-card

#3065 Enable consistent return eslint rule
  .eslintrc.json
  scripts/preview-theme.js
  src/fetchers/repo-fetcher.js
Labels: ci, repo-card

#3003 Feature: Stats card: Show merged PRs count and percentage
  readme.md
  src/cards/stats-card.js
  src/common/icons.js
  src/fetchers/stats-fetcher.js
  src/fetchers/types.d.ts
  src/translations.js
  tests/api.test.js
  tests/fetchStats.test.js
  tests/renderStatsCard.test.js
Labels: documentation, stats-card, card-i18n

#3069 Docs: Add missing stats card show option variants
  readme.md
Labels: documentation

#3068 Refactor: Stats card: Set username param type for totalCommitsFetcher function inside data fetcher
  src/fetchers/stats-fetcher.js
Labels: stats-card

#3064 Feature: Add gist card
  api/gist.js
  readme.md
  src/cards/gist-card.js
  src/cards/types.d.ts
  src/common/icons.js
  src/fetchers/gist-fetcher.js
  src/fetchers/types.d.ts
  tests/e2e/e2e.test.js
  tests/fetchGist.test.js
  tests/renderGistCard.test.js
Labels: documentation, enhancement, new-card, :star: top pull request, javascript, feature, gist-card

#3082 Refactor: Top langs card: Use default value instead if statement
  src/cards/top-languages-card.js
Labels: lang-card

#3087 Tests: Gist card: Add more render tests
  tests/renderGistCard.test.js
Labels: gist-card

#3101 Gist card: handle missing param error
  src/fetchers/gist-fetcher.js
  tests/fetchGist.test.js
  tests/gist.test.js
Labels: gist-card

#3107 Tests: Improve fetch gist test to increase coverage
  tests/fetchGist.test.js
Labels: gist-card

#3104 [Readme.md] Add Gist Card in Customization section
  readme.md
Labels: documentation

#3100 Gist card: handle not found error
  src/fetchers/gist-fetcher.js
  tests/fetchGist.test.js
Labels: gist-card

#3126 Top langs card: Remove unreachable code from fetcher and increase tests coverage
  src/fetchers/top-languages-fetcher.js
  tests/fetchTopLanguages.test.js
  tests/top-langs.test.js
Labels: lang-card

#3111 Tests: Reduce size of Wakatime fetcher test
  tests/fetchWakatime.test.js
Labels: wakatime-card

#3127 Tests: Add gist endpoint wrong locale test
  tests/gist.test.js
Labels: gist-card

#3130 Tests: Add index endpoint blacklist test
  tests/api.test.js
Labels: stats-card

#3135 Tests: Add top langs endpoint blacklist test
  tests/top-langs.test.js
Labels: lang-card

#3136 Tests: Add pin endpoint blacklist test
  tests/pin.test.js
Labels: repo-card

#3142 Tests: Add top langs endpoint wrong locale test
  tests/top-langs.test.js
Labels: lang-card

#3143 Tests: Add pin endpoint wrong locale test
  tests/pin.test.js
Labels: repo-card

#3148 Tests: Stats card: Add invalid username fetcher test
  tests/fetchStats.test.js
Labels: stats-card

#3153 Refactor: Add missing jsdoc for I18n class methods
  src/common/I18n.js
Labels: card-i18n

#3152 Tests: Add gist endpoint proper cache header test
  tests/gist.test.js
Labels: gist-card

#3151 Tests: Add pin endpoint missing params test
  tests/pin.test.js
Labels: repo-card

#3149 Tests: Stats card: Add hide all stats and rank icon test
  tests/renderStatsCard.test.js
Labels: stats-card

#3157 Docs: Improve ask question link
  readme.md
Labels: documentation

#3156 Docs: Show additional stats icons
  readme.md
Labels: documentation

#3155 Refactor: Add missing jsdoc inside calculateRank.js
  src/calculateRank.js
Labels: ranks

#3154 Refactor: Add missing jsdoc for IncorrectJsonFormatError constructor
  scripts/preview-theme.js
Labels: ci

#3170 ci: fix actions/checkout version comment inside empty issues closer workflow
  .github/workflows/empty-issues-closer.yaml
Labels: ci

#3171 docs: improve bug report link
  readme.md
Labels: documentation

#3172 docs: improve request feature link
  readme.md
Labels: documentation

#3176 docs: fix show more languages section data
  readme.md
Labels: documentation

#3174 docs(translations): improve feature request links
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#3173 docs(translations): improve bug report links
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#3181 docs(contributing guide): fix typo in contrast ration test note
  CONTRIBUTING.md
Labels: documentation
