Repository anuraghazra/github-readme-stats, pull requests merged in 2023-02, with the labels that each got.

#2480 add rose theme
  themes/index.js
Labels: themes

#2514 Support hide_progress for top-langs feature
  api/top-langs.js
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
Labels: enhancement, lang-card

#2539 add holi_theme
  themes/index.js
Labels: themes

#2507 Add one_dark_pro
  themes/index.js
Labels: themes

#2544 fix: fix JSON themes bug.
  themes/index.js
Labels: themes

#2525 Add option to deploy using other services
  express.js
  readme.md
Labels: documentation
