Repository anuraghazra/github-readme-stats, pull requests merged in 2023-05, with the labels that each got.

#2670 fix(wakatime-fetcher): add default range to prevent user not found error
  readme.md
  src/fetchers/wakatime-fetcher.js
  tests/fetchWakatime.test.js
Labels: documentation

#2697 docs: update wakatime user
  readme.md
Labels: documentation

#2705 Update wakatime user inside docs translations
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2099 add pie chart layout to language card
  package-lock.json
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
  tests/renderTopLanguages.test.js
Labels: documentation, hacktoberfest-accepted, hacktoberfest

#2709 Top languages card pie layout
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
  tests/renderTopLanguages.test.js
Labels: documentation

#2715 Improved russian and ukrainian translation of statcard.contribs
  src/translations.js
Labels: card-i18n

#2717 Docs: add missing top languages card layouts.
  readme.md
Labels: documentation

#2728 Docs (translations): add missing top languages card layouts.
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2701 Top languages card donut vertical layout
  readme.md
  src/cards/top-languages-card.js
  src/cards/types.d.ts
  tests/renderTopLanguages.test.js
Labels: documentation

#2739 Docs (translations): add top languages card donut vertical layout
  docs/readme_cn.md
  docs/readme_de.md
  docs/readme_es.md
  docs/readme_fr.md
  docs/readme_it.md
  docs/readme_ja.md
  docs/readme_kr.md
  docs/readme_nl.md
  docs/readme_np.md
  docs/readme_pt-BR.md
  docs/readme_tr.md
Labels: doc-translation

#2738 Docs: fix top languages card available layouts number
  readme.md
Labels: documentation

#1186 Ranking System v2
  docs/readme_fr.md
  readme.md
  src/calculateRank.js
  src/fetchers/stats-fetcher.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/fetchStats.test.js
Labels: documentation, enhancement, ranks, stats-card, doc-translation, :star: top pull request

#2756 Improve ukrainian translation of langcard.title
  src/translations.js
Labels: card-i18n

#2755 Show notice about no languages data instead of empty card
  src/cards/top-languages-card.js
  src/translations.js
Labels: card-i18n
