Repository anuraghazra/github-readme-stats, pull requests merged in 2023-07, with the labels that each got.

#2891 CI: Resolve OSSF GitHub token permissions security alerts
  .github/workflows/e2e-test.yml
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/label-pr.yml
  .github/workflows/preview-theme.yml
  .github/workflows/prs-cache-clean.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/test.yml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

#2885 Eslint integration
  .eslintrc.json
  .github/workflows/test.yml
  .husky/pre-commit
  package-lock.json
  package.json
  src/calculateRank.js
  src/getStyles.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/card.test.js
  tests/e2e/e2e.test.js
  tests/fetchRepo.test.js
  tests/fetchStats.test.js
  tests/fetchTopLanguages.test.js
  tests/fetchWakatime.test.js
  tests/flexLayout.test.js
  tests/pat-info.test.js
  tests/pin.test.js
  tests/renderRepoCard.test.js
  tests/renderStatsCard.test.js
  tests/renderTopLanguages.test.js
  tests/renderWakatimeCard.test.js
  tests/retryer.test.js
  tests/status.up.test.js
  tests/top-langs.test.js
  tests/utils.test.js
Labels: ranks, ci, dependencies

#2909 build: rename lint command
  .github/workflows/test.yml
  .husky/pre-commit
  package.json
Labels: ci, dependencies

#2913 Fixed docstring for scripts helper function
  scripts/helpers.js
Labels: ci

#2919 Fixed typos and grammars in readme.md
  readme.md
Labels: documentation

#2920 Fixed docstring for fetchOpenPRs function
  scripts/close-stale-theme-prs.js
Labels: ci

#2923 Refactor: Fixed docstrings for close stale theme PRs workflow helper functions
  scripts/close-stale-theme-prs.js
Labels: ci

#2924 Refactor: Fixed docstrings for preview theme workflow helper functions
  scripts/preview-theme.js
Labels: refactor, ci

#2934 Refactor: Fixed returns statement for wakatime card functions docstrings
  src/cards/wakatime-card.js
Labels: wakatime-card

#2933 Refactor: Fixed stats card createTextNode function docstring
  src/cards/stats-card.js
Labels: stats-card

#2944 Refactor: Remove redundant import from Wakatime data fetcher
  src/fetchers/wakatime-fetcher.js
Labels: wakatime-card

#2947 Docs: Add note about outdated translations
  readme.md
Labels: documentation

#2946 Refactor: Fixed renderStatsCard function docstring
  src/cards/stats-card.js
Labels: stats-card

#2945 CI: Avoid test workflow duplicate
  .github/workflows/test.yml
Labels: ci

#2932 Fix lint command
  package.json
Labels: dependencies

#2955 Uppercase total reviews title to match all another titles style
  src/translations.js
Labels: card-i18n

#2915 CI: dependencies pinned by hashes
  .github/workflows/deploy-prep.yml
  .github/workflows/e2e-test.yml
  .github/workflows/empty-issues-closer.yaml
  .github/workflows/generate-theme-doc.yml
  .github/workflows/label-pr.yml
  .github/workflows/preview-theme.yml
  .github/workflows/prs-cache-clean.yml
  .github/workflows/stale-theme-pr-closer.yaml
  .github/workflows/test.yml
  .github/workflows/top-issues-dashboard.yml
  .github/workflows/update-langs.yaml
Labels: ci

#2857 Ranks: Take into account user reviewed PRs count
  readme.md
  src/calculateRank.js
  src/fetchers/stats-fetcher.js
  tests/api.test.js
  tests/calculateRank.test.js
  tests/e2e/e2e.test.js
  tests/fetchStats.test.js
Labels: documentation, ranks, stats-card

#2964 Refactor: Fixed vscode type error in renderTopLanguages function
  src/cards/top-languages-card.js
Labels: lang-card

#2957 docs: fix broken admonitions
  .vscode/settings.json
  CONTRIBUTING.md
  readme.md
  scripts/preview-theme.js
Labels: documentation, ci

#2987 Docs: Use important admonition in "Important Notice" section
  readme.md
Labels: documentation

#2985 Refactor: Resolve vscode type error in renderStatsCard function long locales check
  src/cards/stats-card.js
Labels: stats-card

#2984 Refactor: Resolve vscode type error in renderStatsCard function card width calc
  src/cards/stats-card.js
Labels: stats-card

#2996 Refactor: Top langs card: Fix return statement in helpers functions docstrings
  src/cards/top-languages-card.js
Labels: lang-card

#2998 Refactor: Wakatime card: Add missing return statements for helper functions
  src/cards/wakatime-card.js
Labels: wakatime-card

#2999 Refactor: Repo card: Fixed type error in iconWithLabel function
  src/cards/repo-card.js
Labels: repo-card

#3014 CI: skx/github-action-tester dependency pinned by hash
  .github/workflows/generate-theme-doc.yml
Labels: ci

#3018 I10n: Add partially-missing Uzbek translations
  src/translations.js
Labels: card-i18n

#3019 Stats card: Add Uzbek to long languages
  src/cards/stats-card.js
Labels: stats-card
