Repository anuraghazra/github-readme-stats, pull requests merged in 2023-09, with the labels that each got.

#3194 docs(translations): fix all demos link inside french translation
  docs/readme_fr.md
Labels: doc-translation

#3185 docs(translations): fix all demos link inside deutsch translations
  docs/readme_de.md
Labels: doc-translation

#3189 docs(translations): fix all demos link inside spanish translation
  docs/readme_es.md
Labels: doc-translation

#3178 docs(translations): fix all demos link inside chinese translation
  docs/readme_cn.md
Labels: doc-translation

#3179 docs(contributing guide): add community positive feedback requirement for themes PRs
  CONTRIBUTING.md
Labels: documentation

#3180 ci(themes-preview): add themes PRs positive feedback requirement
  scripts/preview-theme.js
Labels: ci

#3201 refactor(wakatime card): fix createTextNode function jsdoc to resolve type error
  src/cards/wakatime-card.js
Labels: wakatime-card

#3213 ci: use latest octokit API inside close stale theme PRs workflow
  scripts/close-stale-theme-prs.js
Labels: ci

#3214 refactor: move duplicated code for rendering repo/gist cards into utils
  src/cards/gist-card.js
  src/cards/repo-card.js
  src/common/utils.js
Labels: repo-card, gist-card

#3211 refactor: fix createProgressNode function jsdoc and enable ts-check
  src/cards/top-languages-card.js
  src/cards/wakatime-card.js
  src/common/createProgressNode.js
Labels: lang-card, wakatime-card

#3200 i18n: set locale only once instead of on each call
  src/common/I18n.js
Labels: card-i18n

#3137 Enable curly eslint rule
  .eslintrc.json
  scripts/generate-theme-doc.js
  scripts/preview-theme.js
  src/cards/stats-card.js
  src/cards/top-languages-card.js
  src/common/Card.js
  src/common/utils.js
  src/fetchers/gist-fetcher.js
  src/fetchers/repo-fetcher.js
  src/fetchers/stats-fetcher.js
  src/fetchers/top-languages-fetcher.js
  src/fetchers/wakatime-fetcher.js
  src/getStyles.js
  tests/renderTopLanguagesCard.test.js
Labels: stats-card, lang-card, wakatime-card, ci, repo-card, gist-card

#3186 tests(stats card fetcher): add upstream API error test when include_all_commits true
  tests/fetchStats.test.js
Labels: stats-card

#3228 docs: add top languages card limits warning
  readme.md
Labels: documentation

#3195 refactor: fix I18n class constructor jsdoc to resolve vscode type errors
  src/common/I18n.js
Labels: card-i18n

#3215 fix: Simplified Chinese error
  docs/readme_cn.md
Labels: doc-translation

#3238 refactor: change confusing behavior of showing 0 commints when upstream API fails
  src/fetchers/stats-fetcher.js
  tests/fetchStats.test.js
Labels: stats-card

#2448 feat: rate limit error chaching
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/retryer.js
  src/common/utils.js
  tests/api.test.js
  tests/retryer.test.js
Labels: stats-card, lang-card, wakatime-card, high-priority, repo-card, gist-card

#3234 infra: enable no-use-before-define eslint rule
  .eslintrc.json
  src/common/utils.js
  src/fetchers/gist-fetcher.js
Labels: gist-card

#3242 feature: extend default card cache time to 6 hours
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  readme.md
  src/common/utils.js
  tests/api.test.js
  tests/gist.test.js
Labels: documentation, stats-card, lang-card, wakatime-card, repo-card, gist-card

#3260 tests: add pin endpoint proper cache header test
  tests/pin.test.js
Labels: repo-card

#3269 tests: add top langs endpoint proper cache header test
  tests/top-langs.test.js
Labels: lang-card

#3255 refactor(stats card fetcher): improve could not fetch total commits error message
  src/fetchers/stats-fetcher.js
  tests/api.test.js
Labels: stats-card

#3272 refactor: add GitHub REST API error to CustomError class
  src/common/utils.js
  src/fetchers/stats-fetcher.js
Labels: stats-card
