Repository anuraghazra/github-readme-stats, pull requests merged in 2025-10, with the labels that each got.

#4491 docs(readme): add notice about hacktoberfest
  readme.md
Labels: documentation, enhancement

#3958 Update translations.js for Urdu language
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#3987 Patch 1 - Sorted languages alphabetically and added Bulgarian translation
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#4490 Corrections in malayalam translation
  src/translations.js
Labels: card-i18n

#4494 docs(readme): fix environment variables link inside common options section
  readme.md
Labels: documentation

#4502 build(deps-dev): add express for testing custom deployment issues
  package-lock.json
  package.json
Labels: dependencies

#4507 docs(readme): update string about express inside the section about deploy on other platforms
  readme.md
Labels: documentation

#4509 build(deps): remove unused upgrade dependency
  package-lock.json
  package.json
Labels: dependencies

#4504 Added tamil translations
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#4517 docs(contributing): update notice about hacktoberfest
  CONTRIBUTING.md
Labels: documentation

#4532 refactor: move cache seconds calculation logic into reusable function
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/cache.js
Labels: stats-card, repo-card, lang-card, wakatime-card, gist-card

#4533 refactor: move cache headers logic into reusable functions
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/cache.js
  tests/api.test.js
  tests/gist.test.js
  tests/pin.test.js
  tests/top-langs.test.js
Labels: stats-card, repo-card, lang-card, wakatime-card, gist-card

#4536 refactor: improve cache control headers formatting
  src/common/cache.js
  tests/gist.test.js
Labels: gist-card

#4537 refactor: named arguments for render error function
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  src/common/access.js
  src/common/utils.js
  tests/api.test.js
  tests/gist.test.js
  tests/pin.test.js
  tests/top-langs.test.js
  tests/utils.test.js
Labels: stats-card, repo-card, lang-card, wakatime-card, gist-card

#4538 fix: ensure top langs error card dont ignore customization options
  api/top-langs.js
Labels: lang-card

#4539 feat: disable cache with proper headers when CACHE_SECONDS env is zero
  src/common/cache.js
  tests/api.test.js
Labels: stats-card
