Repository anuraghazra/github-readme-stats, pull requests merged in 2025-09, with the labels that each got.

#3514 ci: temporary disable preview theme workflow
  .github/workflows/preview-theme.yml
Labels: ci

#4385 docs: make table of contents opt-in
  readme.md
Labels: documentation, enhancement

#4388 ci: add missing github token env to the theme prs closer workflow
  .github/workflows/theme-prs-closer.yml
Labels: enhancement, ci

#4390 refactor: simplify cache timings constants
  src/common/utils.js
Labels: enhancement, refactor

#4391 docs: reorder cards options sections inside readme for better readability
  readme.md
Labels: documentation, enhancement

#4392 docs: remove outdated give.india banner & fix broken HTML tags structure
  readme.md
Labels: documentation, enhancement

#4398 ci: fix prs cache clean workflow name to match naming style of other workflows
  .github/workflows/prs-cache-clean.yml
Labels: enhancement, ci

#4399 docs: refactor quick align tip section in readme for better readability
  readme.md
Labels: documentation, enhancement

#4400 refactor: remove suggestion to add theme from generate theme doc script
  scripts/generate-theme-doc.js
Labels: enhancement, refactor, ci

#4402 chore: fix some grammar errors in theme doc generation script
  scripts/generate-theme-doc.js
Labels: enhancement, ci, chore

#4214 New language added: Azerbaijani
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#4180 Fix grammatical error :)
  readme.md
Labels: documentation

#4213 Update translations.js
  src/translations.js
Labels: card-i18n

#4014 Fix capitalization
  .github/dependabot.yml
  readme.md
  src/fetchers/gist.js
  src/fetchers/stats.js
Labels: documentation, stats-card, gist-card

#3766 chore(translations): Update translation for cn
  src/translations.js
  tests/renderStatsCard.test.js
Labels: stats-card, card-i18n

#3939 feat: whitelist
  api/gist.js
  api/index.js
  api/pin.js
  api/top-langs.js
  api/wakatime.js
  readme.md
  src/common/utils.js
  src/common/whitelist.js
  tests/api.test.js
  tests/pin.test.js
  tests/top-langs.test.js
Labels: documentation, stats-card, repo-card, lang-card, wakatime-card, gist-card

#4144 Update translations.js
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#3970 feat: add Romanian translation
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#3708 feat: Add a display bytes option to top-languages card
  api/top-langs.js
  readme.md
  src/cards/top-languages.js
  src/cards/types.d.ts
  src/common/utils.js
  tests/renderTopLanguagesCard.test.js
  tests/utils.test.js
Labels: documentation, lang-card, :star: top pull request, feature

#4427 chore: fix jsdoc for rank calculation function
  src/calculateRank.js
Labels: ranks

#4429 chore: make stats card create text node function jsdoc shorter
  src/cards/stats.js
Labels: stats-card

#4247 Add locale th to translations.js
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#3985 Added Hindi language support to README and translation.js
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#4445 docs: sort list of available languages alphabetically inside readme
  readme.md
Labels: documentation

#4447 chore: move original english translations to the top for convenienve during development
  src/translations.js
Labels: card-i18n

#4451 fix: mark Portuguese locale as long for stats card
  src/cards/stats.js
Labels: stats-card

#4452 Fix: When user doesn't have any PR, it's Merged PRs Percentage is NAN…
  src/fetchers/stats.js
  tests/fetchStats.test.js
Labels: stats-card

#4448 Support both Serbian languages (Cyrillic & Latin)
  readme.md
  src/cards/stats.js
  src/translations.js
Labels: documentation, stats-card, card-i18n

#4475 docs(readme): fix stats card options table markdown syntax
  readme.md
Labels: documentation

#4483 docs(readme): enhance the description of deploy first steps section
  readme.md
Labels: documentation

#3800 Add translations
  readme.md
  src/translations.js
Labels: documentation, card-i18n

#4486 fix: mark Filipino langiage as long for stats card
  src/cards/stats.js
Labels: stats-card
